<!DOCTYPE html>
<html>
<head><title>Library</title></head>
<body>
    <h1>Library Management System</h1>
    <a href="/add">+ Add Book</a> &nbsp;
    <a href="/unavailable">View Unavailable Books</a>
    <br><br>

    <table border="2">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Copies</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.copies }}</td>
            <td>
                {% if book.copies > 0 %}
                    <a href="/borrow/{{ book.id }}">Borrow</a>
                {% else %}
                    <span style="color:red;">Not Available</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
