<!DOCTYPE html>
<html>
<head><title>Unavailable Books</title></head>
<body>
    <h2>Unavailable Books (Copies = 0)</h2>

    {% if books %}
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>All books are currently available.</p>
    {% endif %}

    <br>
    <a href="/">← Back to List</a>
</body>
</html>
